body {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

/*HEADER*/
.header-section {
  background-color: #1f2937;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  margin: 5px 10px 5px 10px;
}

.nav-container img {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.btn-logo-container {
  display: flex;
  justify-content: space-between;
}

#btn-hamburger {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
}

#btn-hamburger:hover {
  background-color: #3882f6;
}

.btn-line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 3px 0px;
}

.nav-right {
  display: none;
}

.nav-right.show {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #646566;
  margin: 45px 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

.nav-right a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-color: #3882f6;
}

@media (min-width: 768px) {
  .container {
    margin: 0px 2rem;
    width: 768px;
  }

  .nav-container {
    flex-direction: row;
  }

  #btn-hamburger {
    display: none;
  }

  .nav-right {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
  }
}

@media (min-width: 1152px) {
  .container {
    width: 1024px;
  }
}

/*HERO*/
.hero-section {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: unset;
  gap: 15px;
  padding: 5px 0px 15px 0px;
}

.hero-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0px;
}

.hero-left-side p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0px;
}

.hero-left-side button {
  align-self: self-start;
  font-weight: 600;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 10px;
  border: 1px solid black;
  padding: 8px 30px;
  cursor: pointer;
}

.hero-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c7d83;
  width: 100%;
  height: 350px;
}

.hero-right-side img {
  text-align: center;
  color: white;
  object-fit: cover;
}

@media (max-width: 450px) {
  .hero-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c7d83;
    width: 100%;
    height: 220px;
  }
}

@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
    align-items: center;
    height: 460px;
    padding: 10px 0;
  }

  .hero-left-side {
    gap: 8px;
    width: 45%;
  }

  .hero-right-side {
    width: 50%;
    height: 240px;
  }
}

/*INFORMATION*/
.information-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 280px;
  padding: 0px 2rem;
}

.information-subtitle {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.box-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  gap: 10px;
  margin-bottom: 15px;
}

.box img {
  text-align: center;
  width: 100%;
  height: 180px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.footer-image {
  font-size: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .information-section {
    min-height: 480px;
    padding: 0px 4rem;
  }

  .information-subtitle {
    margin: 30px;
  }

  .box-wrapper {
    gap: 60px;
  }
}

/*PHRASE*/
.phrase-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 0px 2rem;
}

.phrase-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.phrase {
  font-size: 24px;
  color: #1f2937;
  font-weight: lighter;
  font-style: italic;
}

.who-phrase {
  text-align: end;
  font-weight: bold;
  margin: 10px 0px;
}

@media (max-width: 400px) {
  .phrase {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .phrase-section {
    padding: 0px 4rem;
    height: 400px;
  }

  .phrase-wrapper {
    max-width: 768px;
    padding: 0px 2rem;
  }

  .phrase {
    font-size: 36px;
    margin: 0px;
  }
}

@media (min-width: 1152px) {
  .phrase-wrapper {
    max-width: 850px;
  }
}

/*CALL TO ACTION*/
.call-to-action-section {
  background-color: white;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action-container {
  display: flex;
  flex-direction: row;
  border: 0px;
  background-color: #3882f6;
  border-radius: 10px;
  justify-content: space-evenly;
  padding: 40px 0px;
  align-items: center;
}

.call-to-action {
  color: white;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 5px;
}

.message {
  color: rgb(221, 219, 219);
  margin: 0px;
  font-weight: lighter;
  font-size: 14px;
}

.call-to-action-container button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 8px 30px;
  border-radius: 10px;
  border: 3px solid white;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 768px) {
  .call-to-action-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .call-to-action-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

/*Footer*/
.page-footer {
  background-color: #1f2937;
  padding: 15px 0px;
}

.copyright {
  color: white;
  text-align: center;
}
